body{
    background-color: grey;
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    padding: 3%;
    margin: 0%;
}

header > img{
    height: 5%;
    width: auto;
}


footer{
    background-color: black;
    padding: 2%;
}

#footToTop{
    background-color: grey;
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 100%;
}

#footToTop > a{
    text-decoration: none;
}

#mainTitle{
    color: white;
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Kalnia', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
}

#nav{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
    background-color: black;
}

#nav > a{
    text-decoration: none;
    font-size: x-large;
    color: white;
    padding: 1%;
}

#nav > a:hover{
    background-color: darkblue;
}

#miniGameWelcome{
    border: 5px solid black;
    border-top: none;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 15px;
}
#QandA{
    text-align: center;
}
#WorL{
    text-align: center;
}

#cookie{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
}

button:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
}

footer{
    background-color: black;
    padding: 2%;
}

#footToTop{
    background-color: grey;
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 100%;
}

#footToTop:hover{
    background-color: blue;
    color: black;
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 100%;
}

#footToTop > a{
    text-decoration: none;
    color: black;
}

#footToTop > a:hover{
    text-decoration: none;
    color: white;
}